exCal.json
{
  "name": "exCal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "exCalAI",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "82a740cb-5ecd-4178-bdfe-8efebece2eae",
      "name": "Webhook",
      "webhookId": "f0f7fe1e-b97e-4455-8db0-7202630b90f9"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Du bist ein Assistent, der Termine aus Texten extrahiert. Deine Aufgabe ist den erhlatenen Inhalt zu analysieren und dann einen Sinnvollen Kallender eintrag dasraus zu erstellen. \nDer Text ist oft kein optimal zusammengesetzter Input zum erstellen eines Kalender eintrages, weshalb du besonderst aufpassen musst alle Hinweise zur einordnung korrekt zu deuten.\nHeute ist: {{ $now.format('YYYY-MM-DD') }} (Nutze das als Referenz für \"morgen\", \"nächste Woche\", etc.).\n\nExtrahiere folgende Daten:\n1. summary (Titel des Events)\n2. location (Ort, falls vorhanden, sonst leer)\n3. description (kurze Zusammenfassung des kontextes)\n4. start (ISO 8601 Format: YYYY-MM-DDTHH:mm:ss)\n5. end (ISO 8601 Format: YYYY-MM-DDTHH:mm:ss). Wenn keine Dauer angegeben ist, nimm 1 Stunde an. Wenn keine Uhrzeit angegeben ist, nimm ein ganz Tagiges event an.\n\nAntworte AUSSCHLIESSLICH mit diesem JSON Objekt."
            },
            {
              "content": "={{ $json.body.selectedText }}"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        288,
        0
      ],
      "id": "cd392996-dd98-4a6c-a14d-622a26af41d6",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "ya7qV5E2FEBrzp39",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        0
      ],
      "id": "9394ec73-a0f1-4e07-9f60-4028a11aff84",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        848,
        0
      ],
      "id": "8ffc0ca2-ba47-4f94-9e43-3fe3f3ea8973",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Create Entrie\nHere we take the output of the AI as Jason and create the ics file and google calendar link for the User"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        -208
      ],
      "typeVersion": 1,
      "id": "dcb36854-7d3a-4e41-8072-e715ff8ba18d",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ac0e9470-49c4-4b40-8969-cc01aefe0451",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e10c492a977fff9b9dd0f8ec7d9df4191ac91c993b4ad052fd42f4d619eb6267"
  },
  "id": "4wRYmAYQR3xwTs0U",
  "tags": []
}