calendar-extension/server/n8n_workflow.json
{
    "name": "Calendar Extension Backend",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "calendar-parse",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "prompt": "={{ $json.body.text }}",
                "systemMessage": "You are a calendar assistant. Extract the following details from the user's text: Title, Start Date (YYYY-MM-DD), Start Time (HH:MM), End Date (YYYY-MM-DD), End Time (HH:MM), Description, and Location. \n\nIf any information is missing, make a reasonable guess based on context (e.g., if no year is specified, assume the next occurrence). If duration is not specified, assume 1 hour.\n\nReturn ONLY a valid JSON object with these keys: title, startDate, startTime, endDate, endTime, description, location. Do not wrap in markdown code blocks.",
                "options": {}
            },
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "let event = $input.first().json;\n\n// Parse if it's a string (common with AI nodes)\nif (typeof event === 'string') {\n  try {\n    event = JSON.parse(event);\n  } catch (e) {\n    // If parsing fails, try to find a text property\n  }\n}\n\nif (event.text && typeof event.text === 'string') {\n  try {\n    event = JSON.parse(event.text);\n  } catch (e) {\n    // If parsing fails, maybe the text IS the JSON but malformed, or just text.\n  }\n}\n\n// Ensure defaults\nevent = {\n  title: event.title || 'New Event',\n  startDate: event.startDate || new Date().toISOString().split('T')[0],\n  startTime: event.startTime || '12:00',\n  endDate: event.endDate || new Date().toISOString().split('T')[0],\n  endTime: event.endTime || '13:00',\n  description: event.description || '',\n  location: event.location || ''\n};\n\n// Helper to format for Google Calendar URL (YYYYMMDDTHHMMSSZ)\nconst formatGCalDate = (date, time) => {\n  return (date + 'T' + time + ':00').replace(/[-:]/g, '');\n};\n\nconst startDateTime = formatGCalDate(event.startDate, event.startTime);\nconst endDateTime = formatGCalDate(event.endDate, event.endTime);\n\nconst gcalLink = `https://www.google.com/calendar/render?action=TEMPLATE&text=${encodeURIComponent(event.title)}&dates=${startDateTime}/${endDateTime}&details=${encodeURIComponent(event.description)}&location=${encodeURIComponent(event.location)}`;\n\n// ICS Content\nconst icsContent = `BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Calendar Extension//EN\nBEGIN:VEVENT\nUID:${Date.now()}@calendar-extension\nDTSTAMP:${new Date().toISOString().replace(/[-:]/g, '').split('.')[0]}Z\nDTSTART:${startDateTime}\nDTEND:${endDateTime}\nSUMMARY:${event.title}\nDESCRIPTION:${event.description.replace(/\\n/g, '\\\\n')}\nLOCATION:${event.location}\nEND:VEVENT\nEND:VCALENDAR`;\n\nreturn {\n  json: {\n    ...event,\n    googleCalendarLink: gcalLink,\n    icsContent: icsContent\n  }\n};"
            },
            "name": "Generate Links",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1120,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Generate Links",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Links": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}