server/(3) Calendar Extension Backend.json
{
  "name": "(3) Calendar Extension Backend",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/calendar/prepare",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1008,
        480
      ],
      "id": "f07db82f-3a88-42e6-a8cc-377f204bddeb",
      "webhookId": "8577b882-23b6-4e38-8803-e5939f76370b"
    },
    {
      "parameters": {
        "prompt": "={{ $('Webhook').item.json.body.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a calendar assistant. Extract the following details from the user's text: Title, Start Date (YYYY-MM-DD), Start Time (HH:MM), End Date (YYYY-MM-DD), End Time (HH:MM), Description, and Location. \\n\\nIf any information is missing, make a reasonable guess based on context (e.g., if no year is specified, assume the next occurrence). If duration is not specified, assume 1 hour.\\n\\nReturn ONLY a valid JSON object with these keys: title, startDate, startTime, endDate, endTime, description, location. Do not wrap in markdown code blocks."
            }
          ]
        }
      },
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        -128,
        224
      ],
      "id": "ce54ad42-6d26-49bd-ab42-5447ce0236a5",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 2
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        448,
        336
      ],
      "id": "41c60f78-79ef-49ba-9f58-5ede301d0318",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const eventObject = {\n  title: $input.first().json.title,\n  startDate: $input.first().json.startDate,\n  startTime: $input.first().json.startTime,\n  endDate: $input.first().json.endDate,\n  endTime: $input.first().json.endTime,\n  description: $input.first().json.description,\n  location: $input.first().json.location,\n  googleCalendarLink: $input.first().json.googleCalendarLink,\n  icsContent: $input.first().json.icsContent\n};\n\nreturn eventObject;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        -224
      ],
      "id": "731b7888-f575-409a-b512-f44b5aba66ac",
      "name": "Create Calendar Object"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "9j6MuoeLPTncyinv",
          "mode": "list",
          "cachedResultName": "Calendar Object Storage",
          "cachedResultUrl": "/projects/HrzkEwiAgWqaZ6aP/datatables/9j6MuoeLPTncyinv"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}",
            "startDate": "={{ $json.startDate }}",
            "endDate": "={{ $json.endDate }}",
            "startTime": "={{ $json.startTime }}",
            "description": "={{ $json.description }}",
            "endTime": "={{ $json.endTime }}",
            "location": "={{ $json.location }}",
            "googleCalendarLink": "={{ $json.googleCalendarLink }}",
            "icsContent": "={{ $json.icsContent }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "startDate",
              "displayName": "startDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "startTime",
              "displayName": "startTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "endDate",
              "displayName": "endDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "endTime",
              "displayName": "endTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "googleCalendarLink",
              "displayName": "googleCalendarLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "icsContent",
              "displayName": "icsContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -784,
        -224
      ],
      "id": "c80ab649-f84a-455e-8279-6a01f3e062b1",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "9j6MuoeLPTncyinv",
          "mode": "list",
          "cachedResultName": "Calendar Object Storage",
          "cachedResultUrl": "/projects/HrzkEwiAgWqaZ6aP/datatables/9j6MuoeLPTncyinv"
        },
        "limit": 10
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -560,
        -224
      ],
      "id": "ddbfaaf9-9fed-4a07-9641-a0c81fd64d60",
      "name": "Get first 10 Rows"
    },
    {
      "parameters": {
        "content": "## Data stored in Table\n### This part crates an Event-Object and inserts it into a persistent  table inside n8n.\n### For this to work, you first have to create a table inside you \"Personal\" tab (top left) with the right columns. After that you just have to select the right table in the table-nodes.",
        "height": 288,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1088,
        -352
      ],
      "id": "a9045fe1-334b-490f-869e-5df2ecd3c74b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -560,
        1072
      ],
      "id": "c0bec552-e213-4df9-9687-76373ee338b2",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "9j6MuoeLPTncyinv",
          "mode": "list",
          "cachedResultName": "Calendar Object Storage",
          "cachedResultUrl": "/projects/HrzkEwiAgWqaZ6aP/datatables/9j6MuoeLPTncyinv"
        },
        "limit": 10
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -784,
        1072
      ],
      "id": "812023ab-b471-4c48-a20d-e084c193e378",
      "name": "Get first 10 Rows1"
    },
    {
      "parameters": {
        "path": "webhook-test/calendar-events",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        1072
      ],
      "id": "4f050722-01d9-474d-92b1-1cf39ab696b5",
      "name": "Webhook1",
      "webhookId": "14bedec3-cf02-465c-a5be-9272f5a5fcb7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/a9fc09da2a6935ab685a6c44c53e709016fde438b7d27eb69a01bc2aeb38d035@group.calendar.google.com/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"summary\": \"Test Event\",\n  \"start\": { \"dateTime\": \"2025-12-18T11:30:00\", \"timeZone\": \"Europe/Berlin\" },\n  \"end\":   { \"dateTime\": \"2025-12-18T12:30:00\", \"timeZone\": \"Europe/Berlin\" }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1008,
        848
      ],
      "id": "ba2d8fcd-d7bf-496e-a38f-f02dfde687df",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "eG2ylz4tHdBFdoS0",
          "mode": "list",
          "cachedResultName": "OAuth Table",
          "cachedResultUrl": "/projects/HrzkEwiAgWqaZ6aP/datatables/eG2ylz4tHdBFdoS0"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.body.userId }}"
            }
          ]
        },
        "limit": 5
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -784,
        480
      ],
      "id": "2889f0b0-65f6-4099-aacd-91ac9aec3b3d",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -64,
        448
      ],
      "id": "8e2c3a75-a545-4321-974c-b1f331d3ed74",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5KycqPDZZ1fHbeSb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3546c1f3-97be-4363-a70f-ec4d8edc93e9",
              "leftValue": "={{ $json.userId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        480
      ],
      "id": "a9f7ccfe-7d86-4db4-ade9-a99f52a42f9d",
      "name": "Does entry exist?"
    },
    {
      "parameters": {
        "jsCode": "// 1. Input holen (KI-Ausgabe)\nconst raw = $input.first().json.text;\n\n// 2. JSON-String parsen\nlet data;\ntry {\n  data = JSON.parse(raw);\n} catch (e) {\n  throw new Error('Invalid JSON from AI');\n}\n\n// 3. Datum + Uhrzeit kombinieren\nfunction toISO(date, time) {\n  // Europe/Berlin → ohne Z, Google bekommt Offset automatisch\n  return `${date}T${time}:00`;\n}\n\nconst startDateTime = toISO(data.startDate, data.startTime);\nconst endDateTime   = toISO(data.endDate, data.endTime);\n\n// 4. Sauberes Event-Objekt bauen\nconst event = {\n  title: data.title,\n  description: data.description || '',\n  location: data.location || '',\n  start: startDateTime,\n  end: endDateTime,\n  userid: $('Get row(s)').first().json.userId\n};\n\n// 5. Weitergeben\nreturn {\n    json: event\n  }\n;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        336
      ],
      "id": "bf088e2f-dcc2-4c35-ab31-840616447cb7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"USER_NOT_FOUND\",\n  \"action\": \"REAUTH\"\n}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -352,
        576
      ],
      "id": "c4055acb-ed4c-4d7d-b8a7-c0e78fa4bf22",
      "name": "Respond to Webhook2"
    }
  ],
  "pinData": {
    "AI Agent": [
      {
        "json": {
          "text": "{\n  \"title\": \"Sternenmarkt - Christmas in Bad Cannstatt\",\n  \"startDate\": \"2025-12-18\",\n  \"startTime\": \"11:30\",\n  \"endDate\": \"2025-12-18\",\n  \"endTime\": \"21:00\",\n  \"description\": \"The Sternenmarkt in Bad Cannstatt will open its doors on November 26, 2025.\",\n  \"location\": \"Bad Cannstatt\"\n}"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Object": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Get first 10 Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get first 10 Rows": {
      "main": [
        []
      ]
    },
    "Get first 10 Rows1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Get first 10 Rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Does entry exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Does entry exist?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "cc122a8f-45c4-49a1-928c-07559ac7a166",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08efb0e2bd41ea2f34a7410dbd536a3f02a2893e9ccde22aec8722082f075fa1"
  },
  "id": "tGJYcgNvmQ2lsaKI",
  "tags": []
}