server/(4) Create prepared event.json
{
  "name": "(4) Create prepared event",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/calendar/create",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -352
      ],
      "id": "8b5093c5-6f88-4aaf-b870-efc72c5ccc63",
      "name": "Webhook",
      "webhookId": "63aac396-5e49-4cdc-b64f-ef98234e59a4"
    },
    {
      "parameters": {
        "jsCode": "const {\n  userId,\n  title,\n  start,\n  end,\n  description\n} = $input.first().json.body;\n\n\n// Pflichtfelder prüfen\nif (!title || !start || !end) {\n  throw new Error('Missing required event fields');\n}\n\n// Datum validieren\nconst startDate = new Date(start);\nconst endDate = new Date(end);\n\nif (isNaN(startDate.getTime()) || isNaN(endDate.getTime())) {\n  throw new Error('Invalid date format');\n}\n\nif (startDate > endDate) {\n  throw new Error('Start must be before end');\n}\n\n// Optional: Strings absichern\nif (description && typeof description !== 'string') {\n  throw new Error('Invalid description');\n}\n\n\n// Alles okay → weiter\nreturn [\n  {\n    json: {\n      userId,\n      title,\n      start,\n      end,\n      description: description || '',\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -352
      ],
      "id": "770b3af1-41d6-43e7-afe5-ce85563596f8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ $('Get row(s)').item.json.calendarId }}/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"summary\": \"{{ $('Code in JavaScript').item.json.title }}\",\n  \"start\": { \"dateTime\": \"{{ $('Code in JavaScript').item.json.start }}\", \"timeZone\": \"Europe/Berlin\" },\n  \"end\":   { \"dateTime\": \"{{ $('Code in JavaScript').item.json.end }}\", \"timeZone\": \"Europe/Berlin\" },\n  \"description\": \"{{ $('Code in JavaScript').item.json.description }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        -448
      ],
      "id": "5e68bf8a-3453-400e-a53b-06514eb253c6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "eG2ylz4tHdBFdoS0",
          "mode": "list",
          "cachedResultName": "OAuth Table",
          "cachedResultUrl": "/projects/HrzkEwiAgWqaZ6aP/datatables/eG2ylz4tHdBFdoS0"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            }
          ]
        },
        "limit": 5
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        448,
        -352
      ],
      "id": "00ad1f0d-4d9b-4dc1-b906-63008522ddc0",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3546c1f3-97be-4363-a70f-ec4d8edc93e9",
              "leftValue": "={{ $json.userId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        -352
      ],
      "id": "f92c7cc2-ba4a-421f-ad51-0cb1dda62347",
      "name": "Does entry exist?"
    },
    {
      "parameters": {
        "errorMessage": "User not registered! (\"userid\" not found)"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        896,
        -256
      ],
      "id": "fdb8123f-b43b-4261-a3b9-9f4f9ad6cb44",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "810707551457-n9uabmarsbmrbt4r4cut6jn8h19e1f7l.apps.googleusercontent.com"
            },
            {
              "name": "client_secret",
              "value": "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"
            },
            {
              "name": "refresh_token",
              "value": "={{ $json.refresh_token }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        -448
      ],
      "id": "1b30e870-a671-4e4f-8292-2a6d6e6c5399",
      "name": "Request Google \"access_token\"",
      "notesInFlow": true,
      "retryOnFail": true,
      "waitBetweenTries": 500,
      "notes": "Client id/secret is from the google API"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.Event_Status }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1616,
        -448
      ],
      "id": "7d013596-796b-42ce-bf5c-084f3c405501",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const eventStatus = $input.first().json.status;\n\nif (!eventStatus == \"confirmed\") {\n  throw new Error('Calendar event was not created');\n}\n\nreturn [\n  {\n    Event_Status: {\n      success: true,\n      eventId: $input.first().json.id,\n      eventLink: $input.first().json.htmlLink\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        -448
      ],
      "id": "34f5934c-2588-4e61-b9f0-9f0514ffc2ca",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Does entry exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Does entry exist?": {
      "main": [
        [
          {
            "node": "Request Google \"access_token\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Google \"access_token\"": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "db861d9e-0504-4d09-a920-09c98004d0ad",
  "meta": {
    "instanceId": "08efb0e2bd41ea2f34a7410dbd536a3f02a2893e9ccde22aec8722082f075fa1"
  },
  "id": "UMcYeOnRUAtFIvBK",
  "tags": []
}